__pycache__/
*.py[cod]

*.egg-info/
dist/

venv/

*.coverage
coverage_reports/

.python-version

docs/_build/

test.db
bench-results.json

.idea

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

AGENTS.local.md

.DS_Store
