build~=0.1.0
black~=22.0
flake8~=5.0
flake8-bugbear~=22.9
isort~=5.7
pytest~=5.4.3
pytest-benchmark~=3.2.3
lupa~=1.13
fakeredis~=1.9
redis~=4.3
# in sqlalchemy>=2.0 there is breaking changes (such as in Table class autoload argument is removed)
sqlalchemy~=1.4
s3fs~=2023.9.2
adlfs~=2023.9.0
