aiohttp~=3.8
v3io~=0.5.14
# exclude pandas 1.5.0 due to https://github.com/pandas-dev/pandas/issues/48767
# and 1.5.* due to https://github.com/pandas-dev/pandas/issues/49203
pandas~=1.0,<1.5
numpy>=1.16.5,<1.23
pyarrow>=1,<12
v3io-frames~=0.10.3
v3iofs~=0.1.9
xxhash>=1