numpydoc~=0.9
recommonmark~=0.6
sphinx~=5.3
sphinx_rtd_theme~=1.2
sphinx-copybutton~=0.3
sphinx-togglebutton~=0.2.2
Jinja2<3.1
myst-nb~=0.10
sphinx-book-theme~=1.0.1
markdown-it-py~=2.2
mdit-py-plugins~=0.3
# This transitive dependency breaks dependency resolution when the newly released 8.0.0 is taken.
ipython<8
